@font-face {
  font-family: 'Nunito';
  src: url('src/assets/font/Nunito/Nunito.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('src/assets/font/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Medium';
  src: url('src/assets/font/Nunito/Nunito-Medium.ttf') format('truetype');
}
