@mixin logo {
  font-family: 'Nunito', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-decoration: none;
}

@mixin bigHeader {
  font-family: 'Nunito', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

@mixin header {
  font-family: 'Nunito', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 25px;
}

@mixin miniHeader {
  font-family: 'Nunito', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
}

@mixin description {
  font-family: 'Nunito-Regular', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

@mixin customBtnText {
  font-family: 'Nunito', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
